<span>Agree to the Terms of Service:</span> 
<!-- toggle is reference is the DOM HTMLINPUTELEMENT Type checkbox
change is a listener handler for input event when the value Fires when the value of an <input>, <select>, or <textarea> element has been changed 
mouseover is another listener for mouse overing on the input
mouseleave is another listener
the update method update the Behaviorsubject value
and emit the value-->
<input #toggle type="checkbox" 
(change)="update(toggle.checked, 'enabled')" 
(mouseover)="update(true, 'toolTip')"
(mouseleave)="update(false, 'toolTip')">
<!-- bind the parent's property eventStream which's in this case is an observable to the child's property eventStream$ -->
<app-child [eventStream]="eventStream$"></app-child>